[Unit]
Description=ISM Device Server
After=network.target

[Service]
ExecStart=/home/debian/ism-device-server/server.js
Restart=always
User=debian
Group=debian
Restart=always
RestartSec=10s
SyslogIdentifier=ism-server
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/debian/ism-device-server

[Install]
WantedBy=multi-user.target
